<div class="container p-5">
  <div class="row">

    <div class="col-md-5">
      {{> colabs/colabsForm }}
    </div>

    <div class="col-md-7">
      {{> colabs/colabsTable }}
    </div>
  </div>
</div>